<div class="row">

	<div class="col-lg-10">

		<ol class="breadcrumb">
		  <li><a href="#/restaurateurs">Accueil</a></li>
		  <li><a href="#/restaurateurs/gestion/{{etab.id}}">{{etab.nom}}</a></li>
		  <li><a href="#/restaurateur/{{etab.id}}/categorie/liste">Catégories</a></li>
		  <li class="active">{{fiche.nom}}</li>
		</ol>


		<form role="form" ng-submit="modifierCategorie(fiche)">

		  <div class="form-group">
		    <label for="nom">Nom</label>
		    <input type="text" class="form-control" id="nom" placeholder="nom" required ng-model="fiche.nom">
		  </div>
		  <div class="checkbox">
		    <label>
		      <input ng-model="fiche.statut" type="checkbox" ng-true-value="'Y'" ng-false-value="'N'">Actif
		    </label>
  		  </div>
			
			<div class="spinner-loader" ng-hide="btModifier">Loading…</div>
		   <button ng-show="btModifier" type="submit" class="btn btn-default" >Modifier</button>

		</form>

		<div class="list-group">

			<a href="#/restaurateur/{{etab.id}}/categorie/{{categorieId}}/article/ajouter" class="list-group-item">Ajouter un article</a>

			<a ng-repeat="liste in listes" href="#/restaurateur/{{etab.id}}/categorie/{{fiche.id}}/article/modifier/{{liste.id}}" class="list-group-item">{{liste.nom}}</a>

		</div>

	</div>

</div>