<div class="row">

	<div class="col-lg-10">
		<h1>{{ msg }}</h1>

		<a href="#/restaurateurs/gestion/{{fiche.id}}" class="btn btn-primary btn-lg" role="button">Retour à la page de gestion</a>

		<form role="form" ng-submit="modifier()">
		  <div class="form-group">
		    <label for="nom">Nom</label>
		    <input type="text" class="form-control" id="nom" placeholder="nom" required ng-model="fiche.nom">
		  </div>
		  <div class="form-group">
		    <label for="paypal">Paypal</label>
		    <input type="text" class="form-control" id="paypal" placeholder="paypal" ng-model="fiche.paypal">
		  </div>	
		  <div class="form-group">
		    <label for="infos">Infos</label>
		    <textarea class="form-control" id="infos" ng-model="fiche.infos" rows="10"></textarea>
		  </div>
		   <button type="submit" class="btn btn-default" >Modifier</button>

		</form>

	</div>


</div>